name: Build and Draft EXE

on:
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Name of the Release'
        required: true
        default: 'New Release'
      release_body:
        description: 'Release Notes'
        required: false
        default: ''

jobs:
  build_and_release:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release Binary
        run: cargo build --release --verbose

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v0.1.${{ github.run_number }}
          name: ${{ github.event.inputs.release_name }}
          body: ${{ github.event.inputs.release_body }}
          files: target/release/Battle_Cats_Complete.exe
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
